/*****************************/
/******* GlOBAL STYLES *******/
/*****************************/




/***************************/
/******* GRID LAYOUT *******/
/***************************/

.page-wrapper {
    margin: 0 auto;
    height: 95vh;
    width: 95vw;
    display: grid;
    grid-template-rows: 20% 40% 10% 10% 10%;
}

nav {
    display: grid;
    grid-template-columns: 20% 40% 60%;
}

